__pycache__
scrapmon/__pycache__
scrapmon/__pycache__/*.pyc
*.swp
*.swo
*.python-version
*.csv
*.DS_Store
*.log
*.pyc
build/
dbs/
eggs/
project.egg-info/
setup.py
tmp/downloads
tmp/**/*
virtenv
key.txt
